button {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.Button {
  border-radius: .2rem;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  line-height: 1.2;
  transition: .3s ease;

  &:hover {
    text-decoration: none;
  }
}

.Button--primary {
  background: $primary;
  border-color: $primary;
  color: $white;
  font-weight: $font-weight-bold;

  &:hover {
    background: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}

.Button--full-width {
  display: block;
  width: 100%;
}
