.Card {
  background: $white;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px 0;
  margin-bottom: 2rem;
  padding: 3rem;
}

.Card__title {
  font-size: 2rem;

  & + * {
    margin-top: 1.4rem;
  }
}

.Card__details {
  padding: .5rem;
}
