.Hero {
  background-size: cover;
  background-position: 50%;
  background-image: url(https://picsum.photos/1800/1200?image=1051);
  display: flex;
  height: 800px;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.Hero__heading {
  color: $white;
  text-shadow: 1px 1px 1px $gray-500;
}

.Hero__input {
  display: inline-block;
  width: 26rem;
}

.Hero__close {
  right: 1rem;
  position: absolute;
  top: 1rem;
}
