.TextInput {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 2px dotted $white;
  color: inherit;
  display: block;
  font: inherit;
  line-height: inherit;
  transition: .2s ease;
  width: 100%;
  min-width: 200px;

  &:focus {
    border-bottom: 2px solid $white;
    outline: 0;
  }

  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    animation: autofill 0s forwards;
  }
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}
