html {
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  color: $text;
  font-weight: normal;
  font-size: 16px;
  font-family: $font-family;
}

img {
  display: block;
  max-width: 100%;
}

label {
  cursor: pointer;
  display: block;
  margin-bottom: 0;
}
