a {
  display: inline-block;
  font-weight: bold;

  &,
  &:hover,
  &:visited {
    color: $primary;
  }
}

@mixin paragraph {
  margin-bottom: 0;
  font-size: 1.5rem;

  & + * {
    margin-top: $paragraph-font-margin;
  }
}

@mixin heading {
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin-bottom: 0;

  & + * {
    margin-top: $heading-font-margin;
  }
}

// Standard text margins

ul, p, ol, .ul, .p, .ol {
  @include paragraph;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  @include heading;
}

h1, .h1 {
  font-size: 4rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

.u-text-muted {
  color: $text-muted;
}
